@model IEnumerable<Colorado.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>One Monitoring System</h2>

<p>
    @Html.ActionLink("New Application", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Analyzer.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certificate.name)
        </th>
        <th>
            Filters
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active_flag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink(item.Analyzer.name, "Details", "Analyzers", new {id = item.Analyzer.id}, new {})
        </td>
        <td>
            @Html.ActionLink(item.Certificate.name, "Details", "Certificates", new {id = item.Certificate.id}, new {})
        </td>
        <td>
            @Html.ActionLink("Show", "Index", "Filters", new {id = item.id}, new {})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active_flag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.id}) |
            @Html.ActionLink("Details", "Details", new {id = item.id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.id})
        </td>
    </tr>
}

</table>
