@model Colorado.Models.NbarProtocol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NbarProtocol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.protocol_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.protocol_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.protocol_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.protocol_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.protocol_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.protocol_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
