@model IEnumerable<Colorado.Models.FilterHasNbarProtocol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.filter_id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filter.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbarProtocol.protocol_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Filter.name, "Index", "Filters", new { id = item.Filter.id }, new {})
        </td>
        <td>
            @Html.ActionLink(item.NbarProtocol.protocol_name, "Edit", "NbarProtocols", new {id = item.NbarProtocol.id}, new {})
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { filterId = item.filter_id, nbarId = item.nbar_protocol_id })
        </td>
    </tr>
}

</table>
