@model IEnumerable<Colorado.ViewModels.DnsLookUp>

@{
    ViewBag.Title = "Index";
}

<h2>DNS Look-Ups</h2>

@Html.Partial("_DnsSubMenu")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data.SrcIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.DstIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.SrcPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.DstPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.DomainName)
        </th>
        <th>
            Addresses
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status) (@Html.DisplayNameFor(model => model.Data.DateTime))
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr @if (true) { <text> style="background-color:@item.CssBgCollor;" </text>  }>
            <td>
                @Html.DisplayFor(modelItem => item.Data.SrcIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.DstIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.SrcPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.DstPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.DomainName)
            </td>
            <td>
                @foreach (var addr in item.Data.ResponseAddresses)
                {
                    @Html.DisplayFor(modelItem => addr.IpAddress)
                    <br/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)<br/>
                (@Html.DisplayFor(modelItem => item.Data.DateTime))
            </td>
        </tr>
    }
</table>
